article,aside,details,figcaption,figure,footer,header,hgroup,nav,section,summary{display:block;}audio,canvas,video{display:inline-block;}audio:not([controls]){display:none;height:0;}[hidden]{display:none;}html{font-family:sans-serif;-webkit-text-size-adjust:100%;-ms-text-size-adjust:100%;}a:focus{outline:thin dotted;}a:active,a:hover{outline:0;}h1{font-size:2em;}abbr[title]{border-bottom:1px dotted;}b,strong{font-weight:700;}dfn{font-style:italic;}mark{background:#ff0;color:#000;}code,kbd,pre,samp{font-family:monospace, serif;font-size:1em;}pre{white-space:pre-wrap;word-wrap:break-word;}q{quotes:\201C \201D \2018 \2019;}small{font-size:80%;}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline;}sup{top:-.5em;}sub{bottom:-.25em;}img{border:0;}svg:not(:root){overflow:hidden;}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em;}button,input,select,textarea{font-family:inherit;font-size:100%;margin:0;}button,input{line-height:normal;}button,html input[type=button],/* 1 */input[type=reset],input[type=submit]{-webkit-appearance:button;cursor:pointer;}button[disabled],input[disabled]{cursor:default;}input[type=checkbox],input[type=radio]{box-sizing:border-box;padding:0;}input[type=search]{-webkit-appearance:textfield;-moz-box-sizing:content-box;-webkit-box-sizing:content-box;box-sizing:content-box;}input[type=search]::-webkit-search-cancel-button,input[type=search]::-webkit-search-decoration{-webkit-appearance:none;}textarea{overflow:auto;vertical-align:top;}table{border-collapse:collapse;border-spacing:0;}body,figure{margin:0;}legend,button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0;}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: ''; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

.main {
    background-image: url(../../img/background-image.png);
    height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    padding-top: 30px;
}

.wrapper {
    max-width: 1920px;
    width: 70%;
    margin: 0 auto;
    
}

.title {
    // color: #5340BF;
    font-family: 'Codystar', cursive;
    text-align: center;
    font-size: 70px;
    margin: 0;
    background: linear-gradient(to right, red, orange , yellow, green, cyan, blue, violet);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.forms {
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border: 5px solid #2D7886;
    opacity: 0.8;
    background: white;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 20px;
    font-family: 'Orbitron', sans-serif;
    font-size: 16px;

    
}

.form {
    border: 4px solid #5340BF;
    border-radius: 5px;
    background: #8CD9B6;
    margin: 0 10px;
    padding: 10px;
}

.synths {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-height: 58vh;
    overflow: scroll;
}

input[type=submit] {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.checkboxes input[type=checkbox] {
    width: 40px;
    height: 40px;
}

.checkboxes{
    margin: 0 auto;
    border: 6px solid white;
    border-radius: 20px;
    margin-bottom: 20px;
    background: white;
}

@-webkit-keyframes rainbow {
    0% {border-color: hsl(0, 100%, 69%);}
    10% {border-color: hsl(31, 100%, 73%);}
    20% {border-color: hsl(80, 82%, 55%);}
    30% {border-color: hsl(139, 88%, 78%);}
    40% {border-color: hsl(181, 88%, 78%);}
    50% {border-color: hsl(208, 88%, 78%);}
    60% {border-color: hsl(206, 100%, 80%);}
    70% {border-color: hsl(265, 92%, 75%);}
    80% {border-color: hsl(282, 84%, 71%);}
    90% {border-color: hsl(0, 89%, 78%);}
    100% {border-color: hsl(349, 100%, 71%);}
}

.checkboxlayer1 {
    // border: 3px solid linear-gradient(to bottom, #D1757E, #D9CD8C , #90DAAF, #98CFDD, #A3AAE0, #B07DD4, #963EBB);
    border: 3px solid black;
    -webkit-animation: rainbow 3s infinite alternate;
    border-radius: 10px;
}

.checkboxlayer2 {
    background: linear-gradient(to bottom, #D1757E, #D9CD8C , #90DAAF, #98CFDD, #A3AAE0, #B07DD4, #963EBB);
    border: 7px solid #183749;
    border-radius: 6px;
    display: flex;
    flex-direction: column-reverse;
}

footer h5 {
    color: white;
}

@media (max-width:1023px) {
    .forms {
        display: flex;
        flex-direction: column;
        padding: 3px;
        width: 70%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .form {
        display: flex;
        text-align: center;
        margin: 0 auto;
        padding: 0 0 0 15px;
    }
    .wrapper {
        width: 50%;
    }
}

@media (max-width: 790px) {
    .forms {
        font-size: 14px;
    }
}

@media (max-width: 720px) {
    .checkboxes input[type=checkbox] {
        width: 30px;
        height: 30px;
    }
    .main h1.title {
        font-size: 55px;
    }
    .form {
        flex-direction: column;
        padding: 0;
    }
    .synths {
        max-height: 47vh;
    }
}

@media (max-width: 550px) {
    .checkboxes input[type=checkbox] {
        width: 20px;
        height: 20px;
    }
    .main h1.title {
        font-size: 40px;
        padding-bottom: 30px;
    } 
    .synths {
        max-height: 35vh;
    }
}

@media (max-width: 390px) {
    .checkboxes input[type=checkbox] {
        width: 15px;
        height: 15px;
    }
    .synths {
        max-height: 29vh;
    }
}

